.main-navigation__items li {
  margin: 0 1rem
}

.main-navigation__items a {
  text-decoration: none;
  color: #000;
}

.main-navigation__items a:hover,
.main-navigation__items a:active {
  color: rgb(255, 217, 0);
}
